html {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif !important;
}

* {
  scroll-margin-top: 80px;
}

::-webkit-scrollbar {
  display: none;
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
  background: #ff0000;
}

body {
  position: relative;
  top: 0;
  left: 0;
  @apply bg-gray-50;
  font-family: "Inter", sans-serif !important;
  overflow-x: hidden !important;

  &.no-scroll {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
  }
}

#app {
  position: relative;
  top: 0;
  left: 27%;
  width: 32%;
  height: 100vh;
  transform: translate(27%, 0%);
  overflow-y: scroll !important;
  padding: 1rem;
  padding-top: 2rem;
  @include shadow();
  background: #fff;
  transition: all 0.5s ease-in-out;
  padding-bottom: 2rem;

  @include media("<tablet") {
    position: relative;
    top: 0;
    left: 0;
    width: 32%;
    width: 100%;
    transform: none;
    padding: 0.5rem;
    box-shadow: none !important;
    transition: all 0.5s ease-in-out;
  }
}

.app-header {
  position: fixed;
  top: 0px;
  left: 0px;
}

.navigation {
  position: fixed;
  bottom: 0px;
  left: 0px;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

.border-50 {
  border-radius: 50%;
}

.bounce {
  transition: all 0.5s ease-in-out;
  animation-name: bounce;
  animation-timing-function: linear;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-70px);
  }
  100% {
    transform: translateY(0);
  }
}

.react-photo-gallery--gallery {
  img {
    width: 100px !important;
    height: 100px !important;
    &:nth-child(1) {
      width: 100% !important;
      height: auto !important;
    }
  }
}

.css-1qrom1v {
  position: relative;
  top: 0;
  left: 30%;
  line-height: 0;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  transform: translate(0, 10%);
  @include media("<tablet") {
    position: relative;
    top: 0;
    left: 0;
    transform: none !important;
  }
}

.more-menu-modal {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #a5595452;
  z-index: 100;
}

.product-display {
  &-image {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    width: 100%;
    height: 200px;

    overflow: hidden;
    img {
      width: auto;
      height: auto;
    }
  }
}
