.signup {
  &-selection {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 100px;
    margin: 0.5rem 0;
    background: #fff6f0;
    padding: 1.5rem 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid $app-color;
    border-radius: 0.4rem;
    transition: all 0.4s ease-in-out;

    &-active {
      background: linear-gradient(90deg, #0d0d0d 0%, #502d2d 100%);
      transition: all 0.6s ease-in-out;
      b {
        color: #fff;
      }
      span {
        color: #f1cfbb;
      }
    }

    &::before {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 100%;
      max-height: 100px;
      background: black;
      border: 1px solid $app-color;
      z-index: 100;
    }
    &::after {
      position: absolute;
      top: 20px;
      left: 10px;
      width: 100%;
      max-height: 100px;
      background: black;
      border: 1px solid $app-color;
      z-index: 100;
    }

    input[type="radio"] {
      width: 20px;
      height: 20px;
      background-color: $app-color;
      color: $app-color;
      border: 1px solid $app-color;
      transition: all ease-in 0.2s;

      &:checked {
        background-color: $app-color;
      }
      // appearance: none;
    }
  }
}
