.input {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;

  label {
    position: absolute;
    max-width: 200px;
    top: -18px;
    left: 18px;
    background: #fff;
    padding: 0.5rem;
    font-size: 14px;
    color: #0d0d0d;
  }

  .price {
    position: absolute;
    top: 10px;
    left: 20px;
    color: #a55954;
    font-size: 16px;
    padding: 0.5rem;
  }

  .with-price {
    padding-left: 3rem;
  }

  .password {
    padding-right: 3.3rem;
  }

  input {
    width: 100%;
    height: 60px;
    border: 1px solid #0d0d0d;
    padding: 1.5rem;
    border-radius: 0.2rem;
    outline: none;
    color: $app-color;
    transition: all 0.3s ease;
  }

  input:focus {
    box-shadow: 0px 0px 0px 3px #f1cfbb;
    border: 1px solid $app-color;
  }
  textarea {
    width: 100%;
    height: 150px;
    border: 1px solid #0d0d0d;
    padding: 1.5rem;
    border-radius: 0.2rem;
    outline: none;
    overflow-y: scroll;
    color: $app-color;
    margin-bottom: 0.8rem;
    transition: all 0.3s ease;
  }

  textarea:focus {
    box-shadow: 0px 0px 0px 3px #f1cfbb;
    border: 1px solid $app-color;
  }
}

.select {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0;

  label {
    position: absolute;
    max-width: 120px auto;
    top: -18px;
    left: 25px;
    background: #fff;
    padding: 0.5rem;
    font-size: 14px;
    color: #0d0d0d;
    text-overflow: hidden;
  }

  &-display {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #0d0d0d;
    padding: 1.5rem;
    border-radius: 0.2rem;
    outline: none;
    background: #fff;
    color: $app-color;
    cursor: pointer;
  }

  &-options {
    position: relative;
    top: 8px;
    left: 0;
    width: 100%;
    max-height: 200px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    transition: all 0.5s ease-in-out;
    border-radius: 0.2rem;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 5%), 0 10px 34px -16px rgb(0 0 0 / 8%),
      0 6px 4px hsl(0deg 0% 64% / 6%);
    margin-bottom: 0.8rem;

    button {
      padding: 0.8rem;
      background: white;
      color: $app-color;
      text-align: left;
      border-bottom: 0.001rem solid $app-color;
      transition: all 0.5s ease-in-out;
      &:hover {
        transition: all 0.2s ease-in-out;
        background: #fff6f0;
      }
    }
  }
}
