.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgb(38 38 38 / 50%);
  display: none;
  padding: 0.1rem;
  z-index: 10000;
  transition: all 0.6s ease-in-out;

  &-active {
    display: block;
  }

  &-content {
    position: relative;
    top: 10%;
    left: 5%;
    width: 90%;
    background: white;
    padding: 1rem 0.8rem;
    border-radius: 0.3rem;
    transition: all 0.6s ease-in-out;

    &-header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
